@media screen and (max-width:480px) { 
  .header {
    font-size: 12px;
  }
  .header h3 {
    font-size: 15px;
  }
  .header ul {
    padding-left: 0;
  }
  .port-folio {
    font-size: 2em;
  }
  .name {
    font-size: 4em;
  }
  .title {
    font-size: 2.5em;
    font-weight:bold;
  }
  .profile-text {
    font-size: .7em;
    font-weight: bold;
  }
  /* profileセクション */
  .skill ul {
    font-size: 20px;
  }

  /* servicセクション */
  .service-icon {
    font-size: 300%;
    border:5px solid black;
    height:150px;
    width: 150px;
    line-height:160px;
    border-radius:50%;
    margin:0 auto;
  }
  .service h3 {
    font-size: 1.5em;
  }
  .contact p{
    font-size: .8em;
  }
  .sns-icon {
    display: flex;
    position: absolute;
    bottom: center;
    font-size: 1em;

  }


}

@media screen and (min-width: 481px) and (max-width:768px){ 
  /*　画面サイズが480pxから768pxまではここを読み込む　*/
  .header {
    font-size: 15px;
  }
  .header h3 {
    font-size: 25px;
  }
  .header ul {
    padding-left: 0;
  }
  .port-folio {
    font-size: 2em;
  }
  .name {
    font-size: 4em;
  }

  .sns-icon {
    position: absolute;
    bottom:30px;
    right:5%;
    font-size: 1.5em;
    letter-spacing:.3em;
  }
}
@media screen and (min-width:769px) and ( max-width:1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/

}
@media screen and (min-width:1024px) {
  /*　画面サイズが1024pxからはここを読み込む　*/

}

