/* 共通css */
li {
  list-style: none;
}
* {
  font-family: fantasy;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
img:hover {
  opacity:0.7
}

/* 各画面一時消去 */
.profile,.works,.service,.contact {
  display: none;
}
.hello {
  display: none;
}
.title {
  font-size: 5em;
}
/* ヘッダー&nav */
header,header ul,.nav-list{
  display: flex;
  font-family: fantasy;
  justify-content: space-around;
  font-size:1.3em;
}
.header {
  display:none;
}
 .header-list a,.header-list a:hover{
  color: black;
}
/* navcss */
.nav-list {
  position:fixed;
  top:0;
  width: 100%;
  z-index:10;
  background-color: black;
}
.nav-list a,.nav-list a:hover{
  color: white;
}

/* topセクション */
.top-wrapper {
  background-color: black;
  color: white;
  display: none;
  width:100%;
}

.name {
  font-size: 10em
}

/* profileセクション */
.profile-list{
  display: flex;
  justify-content: center;
}
.profile-text {
  border-top:2px solid black;
  border-bottom:2px solid black;

}
.profile-text p{
  font-family: 'Wawati SC',sans-serif;
  font-size:1.3em;
  font-weight:bold;
  display: none;
}

/* skill */
.skill-list ul{
  font-size: 4em;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skill-list li {
  display: none;
}

/* workセクション */
.work-detail {
  opacity: 0;
}
.work-detail  img{
  border:2px solid black;
  position: relative;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
.work-detail img:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

/* serviceセクション */
.service-icon {
  font-size: 400%;
  border:5px solid black;
  height:200px;
  width: 200px;
  line-height:210px;
  border-radius:50%;
  margin:0 auto;
}
.service-text p{
  line-height:2em;
  color:gray;
}
/* contactセクション */
.contact,.works {
  background-color: rgb(227, 227, 227,0.2);
}
.contact-btn a{
  background-color: black;
  color: white;
  border-radius:30px;
}
.contact-btn a:hover {
  color:white;
  text-decoration:none;

}

/* footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
.sns-icon {
  position: absolute;
  right:5%;
  font-size: 1.5em;
  letter-spacing:.3em;
}
.sns-icon i {
  color: white;
}
/* return-btnボタン */
.return-btn {
  border: 1px solid black;
  float:right;
  z-index:10;
  position:fixed;
  bottom:20%;
  right:5%;
  cursor: pointer;
  display: none;
}
/* modal設定 */
.modal-header,.modal-footer {
  margin: 0 auto;
}
.modal img {
  border: 1px solid black;
}
.modal img:hover {
  opacity: 1;
}


